@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --main-bg-color: #fdfdfd;
  --menu-bg-color: #fdfdfd;
  --header-bg-color: #f0f0f0;
  --label-dark: #222222;
  --label-light: #ffffff;
  --btn-disabled: #ffa3a3;
  --btn-active: #ff7675;
  --btn-hover: #e06867;
  --btn-hover-dark: #9b9b9b;
  --label-error: #d63031;
  --label-error-hover: #bb3f3f;
  --label-success: #27ae60;
  --input-border-color: #adadad;
  --task-details-color: #666666;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--menu-bg-color);
  font-weight: 400;
  font-size: 16px;
  margin:0;
}

.app__header__link{
  color:var(--label-dark);
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
}

.app__header__p{
  height: 19px;
  color: var(--label-dark);
  font-weight: 500;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app__tasklist__task__delete{
  background:none;
  background-image: url("./img/delete.svg");
  border: none;
  height: 26px;
  width: 26px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 16px;
  cursor: pointer;
}

.app__header_label--dashed{
  flex-shrink: 0;
  padding-right: 16px;
}

.app__header__dash{
  background: var(--input-border-color);
  height: 1px;
  width: 100%;
}

ul.app__header__column{
  width: inherit;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin:0;
  background-color: var(--header-bg-color);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 20%);
}

li{
  list-style: none;
}

.app__header__top{
  padding:16px;
}

.app__header__footer{
  padding:16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app__settings__c{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.app__settings__input__w{
  display: flex;
  flex-direction: column;
  gap:16px;
}

.app__settings{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.no-margin{
  margin: 0;
}

li{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.app__header__link__list{
  display: flex;
  flex-direction: column;
  gap:14px;
}

.app__header__top__home--icon{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-image: url("./img/home.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__top__newlist--input{
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}

.app__header__top__newlist--input--small{
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.app__header__top__createlist--icon{
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("./img/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

.app__header__footer__settings--icon{
  width: 20px;
  height: 20px;
  background-image: url("./img/settings.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__footer__disconnect--icon{
  width: 20px;
  height: 20px;
  background-image: url("./img/logout.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__link1{
  color: var(--label-dark);
  font-weight: 400;
  font-size: 16px;
}

.app__header__link2{
  color: var(--label-dark);
  font-weight: 500;
  font-size: 16px;
}

textarea { 
  resize: none;
  border: 1px solid #ADADAD;
  box-sizing: border-box;
  border-radius: 4px;
}

.menu__form--wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper {
  width:350px;
}

.menu__link--centered{
  text-align: center;
}

label {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--btn-active);
}

.form__item--wrapper {
  display: flex;
  flex-direction: column;
  gap:0.4em;
}

.form__input--wrapper {
  width: 100%;
}

.form--wrapper {
  display: flex;
  flex-direction: column;
  gap:1.3em;
}

.form__text--input {
  padding: 1em;
  border-radius: 0.3em;
  width: inherit;
  border: 1px solid var(--input-border-color);
  font-size: 16px;
}

.app__sidepanel__controls--save {
  padding: 16px;
  border-radius: 0.3em;
  width: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--btn-active);
  color: var(--main-bg-color);
  font-weight: 500;
}

.app__sidepanel__controls--save:hover{
    background-color: var(--btn-hover);
}

.app__sidepanel__controls--cancel:hover{
  background-color: var(--btn-hover-dark);
}

.app__sidepanel__controls--cancel {
  padding: 16px;
  border-radius: 0.3em;
  width: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--input-border-color);
  color: var(--main-bg-color);
  font-weight: 500;
}

textarea:focus, input:focus{
  outline: none;
}

.app__sidepanel__w{
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 32px;
  gap:16px; 
}

.app__sidepanel__controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:16px;
}

.form__btn--orange {
  background-color: var(--btn-active);
  color: var(--label-light);
  font-weight: 500;
  padding: 1em;
  text-align: center;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  width: inherit;
  font-size: 16px;
}

p.form__text--input--feedback{
  margin: 0;
  color: var(--label-error);
}

.form__btn--orange:hover {
  background-color: var(--btn-hover);
}

.form__btn--orange:disabled {
  background-color: var(--btn-disabled);
  cursor: unset;
}

div.app {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
}

div.app__header {
  width: 300px;
  position: relative;
  flex-shrink: 0;
}

div.app__sidepanel {
  width: 300px;
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

div.app__sidepanel--hidden {
  display: none;
}

.app__sidepanel--input{
  background: none;
  border: 1px solid #ADADAD;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

div.app__todolist {
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.app__todoloader {
  display: flex;
  width: -webkit-fill-available;
}

.ddddd {
  width: 100%;
}

.app__tasklist__ul {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 16px;
}

.app__tasklist__title {
  margin:0;
}

.app__tasklist__item {
  height: 48px;
  border-top: 1px solid var(--input-border-color);
}

.app__tasklist__separator {
  height: 1px;
  border-top: 1px solid var(--input-border-color);
  width: 100%;
  padding: 0;
  margin: 0;
}

.app__tasklist_task {
  height: inherit;
}

.app__tasklist__wrapper {
  padding: 16px;
}

.app__tasklist__task__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.app__tasklist__task__button {
  width: inherit;
  padding: 0;
  border: 0;
  background: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap:6px;
  height: 36px;
  cursor: pointer;
}

.app__tasklist__task__details--row {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: var(--task-details-color);
  gap: 16px;
}

.app__tasklist__addnewtask {
  background: none;
  border: none;
  cursor: pointer;
  background-image: url("./img/plus-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  margin-left: 16px;
  margin-right: 6px;
  flex-shrink: 0;
}

.app__tasklist__delete__list {
  padding:14px;
  color:#fdfdfd;
  background-color: #d63031;
  border:none;
  border-radius: 0.3em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.app__tasklist__delete__list--icon {
  background-image: url("./img/delete-forever.svg");
  height: 20px;
  width:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.app__tasklist__w{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.app__tasklist__button--completetask{
  padding: 0;
  margin-left: 16px;
  margin-right: 6px;
  border-radius: 50%;
  border:none;
  background-color: var(--btn-active);
  background-image: url("./img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  cursor: pointer;
}

.app__tasklist__button--uncompletetask{
  padding: 0;
  margin-left: 16px;
  margin-right: 6px;
  border-radius: 50%;
  border:none;
  background-color: var(--header-bg-color);
  border: 1px solid var(--input-border-color);
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  cursor: pointer;
}

.app__tasklist__task__title--crossed{
  text-decoration: line-through;
}

.app__debug {
  position: absolute;
  z-index: 1;
  background-color: black;
  color: rgb(74, 255, 74);
  font-family: 'Courier New', Courier, monospace;
}

.app__debug--hidden {
  display: none;
}

.app__sidepanel__column{
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  border-left: 1px solid var(--input-border-color);
  position: fixed;
  height: 100%;
  width: inherit;
}

.app__sidepanel__input{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.app__sidepanel__text--input {
  padding: 14px;
  border-radius: 0.3em;
  width: inherit;
  border: 1px solid var(--input-border-color);
  font-size: 16px;
  font-family: unset;
}

textarea {
  padding: 14px;
  border-radius: 0.3em;
  width: inherit;
  border: 1px solid var(--input-border-color);
  font-size: 16px;
  font-family: unset;
  height: 128px;
}

.app__popup {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 100vh;
  background-color: #0000004d;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__popup__wrapper {
  padding: 16px;
  padding-top: 24px;
  background-color: #fdfdfd;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 382px;
}

.app__popup__title {
  font-weight: 500;
}

.app__popup__message {
  margin-bottom: 32px;
}

.app__popup__controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.app__popup__controls--delete {
  border: none;
  border-radius: 0.3em;
  background-color: var(--label-error);
  color: var(--label-light);
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap:16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__popup__controls--delete:hover {
  background-color: var(--label-error-hover);
}

.app__popup__controls--cancel:hover {
  background-color: var(--btn-hover-dark);
}

.app__popup__controls--cancel {
  border: none;
  border-radius: 0.3em;
  background-color: var(--input-border-color);
  color: var(--label-light);
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap:16px;
  justify-content: center;
  align-items: center;
}

.app__popup__controls--cancel--icon {
  width: 20px;
  height: 20px;
  background-image: url("./img/arrow-back.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__popup__controls--delete--icon {
  width: 20px;
  height: 20px;
  background-image: url("./img/delete-forever.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.app__settings__wra{
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 350px;
}

.app__title {
  padding: 32px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.app__toggle--home {
  display: none;
}

.app__header__close {
  display: none;
}

.app__tasklist__w {
  padding: 0;
}

@media screen and (max-width: 480px) {

  .app__tasklist__w {
    display: none;
  }

  .app__toggle--home {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("./img/menu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .app__header__close {
    margin-bottom: 36px;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("./img/close.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .app__settings{
    width: 100%;
  }

  .app__title{
    padding: 16px;
    background-color: var(--btn-active);
    color: var(--label-light);
    font-weight: 500;
    font-size: 18px;
    justify-content: unset;
  }

  h1{
    font-size: 18px;
    font-weight: 500;
  }

  div.app__settings__wra{
    padding: 12px;
  }

  div.app__header {
    position: fixed;
    width:350px;
    left:0px;
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.34, 0.49, 0.17, 1);
  }

  div.app__header.disabled {
    left:-350px;
  }

  .app__header__cache {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000061;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.34, 0.49, 0.17, 1);
    pointer-events: none;
  }

  .app__header__cache.disabled {
    background-color: transparent;
    pointer-events: none;
  }

  div.app__tasklist{
    padding: 0;
  }

  div.app__sidepanel {
    width: 350px;
    position: fixed;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    right: 0;
  }

  ul.app__header__column {
    background-color: var(--label-light)!important;
    -webkit-box-shadow: unset;
    box-shadow: unset;
  }
  
  div.app__sidepanel__column {
    background-color: var(--label-light);
  }

  .app__header__close.right {
    align-self: flex-end;
  }

  .app__tasklist__wrapper {
    padding: 0px;
  }
}