@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --main-bg-color: #fdfdfd;
  --menu-bg-color: #fdfdfd;
  --header-bg-color: #f0f0f0;
  --label-dark: #222222;
  --label-light: #ffffff;
  --btn-disabled: #ffa3a3;
  --btn-active: #ff7675;
  --btn-hover: #e06867;
  --label-error: #d63031;
  --label-success: #27ae60;
  --input-border-color: #adadad;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--menu-bg-color);
  font-weight: 400;
  font-size: 16px;
  margin:0;
}

.app__header__link{
  width: 139px;
  height: 19px;
  color:var(--label-dark);
  font-weight: 700;
  font-size: 16px;
}

.app__header__p{
  height: 19px;
  color: var(--label-dark);
  font-weight: 500;
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app__header_label--dashed{
  flex-shrink: 0;
  padding-right: 16px;
}

.app__header__dash{
  background: var(--input-border-color);
  height: 1px;
  width: 100%;
}

ul.app__header__column{
  width: inherit;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin:0;
  background-color: var(--header-bg-color);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 20%);
}

li{
  list-style: none;
}

.app__header__top{
  padding:16px;
}

.app__header__footer{
  padding:16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.app__header__link__list{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.app__header__top__home--icon{
  width: 20px;
  height: 20px;
  background-image: url("./img/home.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__top__newlist--input{
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
}

.app__header__top__createlist--icon{
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("./img/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__footer__settings--icon{
  width: 20px;
  height: 20px;
  background-image: url("./img/settings.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__footer__disconnect--icon{
  width: 20px;
  height: 20px;
  background-image: url("./img/logout.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app__header__link1{
  height: 19px;
  left: 16px;
  color: var(--label-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.app__header__link2{
  height: 19px;
  left: 51px;
  color: var(--label-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

}

textarea { 
  resize: none;
  border: 1px solid #ADADAD;
  box-sizing: border-box;
  border-radius: 4px;
}


.menu__form--wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper {
  width:350px;
}

.menu__link--centered{
  text-align: center;
}

label {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--btn-active);
}

.form__item--wrapper {
  display: flex;
  flex-direction: column;
  gap:0.4em;
}

.form__input--wrapper {
  width: 100%;
}

.form--wrapper {
  display: flex;
  flex-direction: column;
  gap:1.3em;
}

.form__text--input {
  padding: 1em;
  border-radius: 0.3em;
  width: inherit;
  border: 1px solid var(--input-border-color);
  font-size: 16px;
}

textarea:focus, input:focus{
  outline: none;
}

.form__btn--orange {
  background-color: var(--btn-active);
  color: var(--label-light);
  font-weight: 500;
  padding: 1em;
  text-align: center;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  width: inherit;
  font-size: 16px;
}

p.form__text--input--feedback{
  margin: 0;
  color: var(--label-error);
}

.form__btn--orange:hover {
  background-color: var(--btn-hover);
}

.form__btn--orange:disabled {
  background-color: var(--btn-disabled);
  cursor: unset;
}

div.app {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

div.app__header {
  width: 300px;
  position: relative;
  flex-shrink: 0;
}

div.app__sidepanel {
  width: 300px;
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  border-left: 1px solid var(--input-border-color);
  flex-shrink: 0;
}

div.app__sidepanel--hidden {
  display: none;
}

.app__sidepanel--input{
  background: none;
  border: 1px solid #ADADAD;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

div.app__todolist {
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.app__todoloader {
  display: flex;
  width: -webkit-fill-available;
}

div.app__tasklist {
  width: 100%;
}

.app__debug {
  position: absolute;
  z-index: 1;
  background-color: black;
  color: rgb(74, 255, 74);
  font-family: 'Courier New', Courier, monospace;
}

.app__debug--hidden {
  display: none;
}

